extends layout

block content
  div(class="logo-wrapper")
    div(class="watermark")

  div(class="main-video-wrapper")
    video(id="main_video", class="animated zoomIn", autoplay="autoplay", muted="true", playsinline="")
  
  div(class="local-video-wrapper")
    video(id="local_video", class="local_video", onclick='toggleMainVideo(this)', autoplay="autoplay", muted="true", playsinline="")
    i(class="material-icons local_video videoMuteImg display-none") videocam_off

  div(id="remote_videos", class="flex-section")
    div(class='video-tile animated fadeInRight local-video-wrapper')
      video(id="local_video_tile_view", autoplay="autoplay", muted="true", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")
    //- div(class="video-tile animated fadeInRight")
    //-   video(class="temp-video", autoplay="autoplay", playsinline="")

  div(class="btnTools")
    div(class="btn-floating btn-sm waves-effect waves-light blue gridToggle display-none",
        data-toggle="tooltip", data-placement="top", title="Grid Off")
      i(class="material-icons") grid_off
      
    div(class="btn-floating btn-sm waves-effect waves-light blue gridToggle",
        data-toggle="tooltip", data-placement="top", title="Grid On")
      i(class="material-icons") grid_on
      
    div(class="btn-floating btn-sm waves-effect waves-light blue screenShare",
        data-toggle="tooltip", data-placement="top", title="Start Screenshare")
      i(class="material-icons") screen_share
      
    div(class="btn-floating btn-sm waves-effect waves-light blue screenShare display-none",
        data-toggle="tooltip", data-placement="top", title="Stop Screenshare")
      i(class="material-icons") stop_screen_share

    div(class="btn-floating btn-sm waves-effect waves-light blue videoToggle",
        data-toggle="tooltip", data-placement="top", title="Video On")
      i(class="material-icons") videocam

    div(class="btn-floating btn-sm waves-effect waves-light blue videoToggle display-none",
        data-toggle="tooltip", data-placement="top", title="Video Off")
      i(class="material-icons") videocam_off

    div(class="btn-floating btn-sm waves-effect waves-light blue micToggle",
        data-toggle="tooltip", data-placement="top", title="Mic On")
      i(class="material-icons") mic

    div(class="btn-floating btn-sm waves-effect waves-light blue micToggle display-none",
        data-toggle="tooltip", data-placement="top", title="Mic Off")
      i(class="material-icons") mic_off

    div(class="btn-floating btn-large waves-effect waves-light pink btn-call-end",
        data-toggle="tooltip", data-placement="top", title="Hang Up")
      i(class="material-icons") call_end

  //- <!-- The Modal -->
  div(class="modal fade", id="messageModal")
    div(class="modal-dialog")
      div(class="modal-content")
      
        //- <!-- Modal Header -->
        div(class="modal-header")
          h4(class="modal-title") Hello . . .
          button(type="button", class="close", data-dismiss="modal") &times;
        
        //- <!-- Modal body -->
        div(class="modal-body") Modal body..
        

  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/javascripts/VideoChatClass.js", type="module")
  //- script(src="/javascripts/videochat.js", type="module")